@model MVC.Models.DTOs.LoginDto.LoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/css/createBase.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/botones.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">

<div class="login-wrapper">
    <div class="form-card">
		<div class="login-content">
            <!-- Formulario -->
            <form asp-action="Login" method="post" class="login-form">
                <div class="form-row">
                    <h2 class="form-title">Iniciar sesión</h2>
                </div>
                <div class="form-row">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-input", placeholder = "Correo electrónico", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-row">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-input", placeholder = "Contraseña", required = "required", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-edit">INGRESAR</button>
                </div>
            </form>

            <!-- Imagen -->
            <div class="login-image">
                <img src="~/images/logo-tienda.png" alt="Logo" />
            </div>
        </div>
    </div>
</div>
