/* Card del formulario */
.form-card {
    background: #16222a; /* color oscuro coherente con la tabla */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    max-width: 900px;
    margin: auto;
}

/* Título */
.form-title {
    text-align: center;
    color: #e6edf3;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Filas de inputs */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.1);
    background: #0f141a;
    color: #e6edf3;
    font-size: 0.95rem;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    transition: 0.2s;
    width: 100% !important;
}

    .form-input:focus {
        border: 1px solid #4a90d9 !important; /* Borde azul */
        border-radius: 8px !important;
        outline: none !important;
        box-shadow: 0 0 0 0.25rem rgba(74, 144, 217, 0.25) !important;
    }


/* Botones */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    height: 48px;
}

.btn {
    padding: 8px 32px !important;
}

/* Responsive */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* inactivo */
    transition: 0.4s;
    border-radius: 24px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

.switch input:checked + .slider {
    background-color: #4caf50; /* activo */
}

    .switch input:checked + .slider:before {
        transform: translateX(26px);
    }

.switch-label {
    vertical-align: middle;
    font-weight: 400;
    color: #BDC3C7;
    margin-left: 5px;
}

.estado-row label {
    color: #e6edf3;
    font-weight: 500;
    margin-left: 5px;
}

.estado-row {
    display: flex;
    gap: 5px !important;
    margin-bottom: 20px;
}


